services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: yak
      POSTGRES_PASSWORD: testpq12
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 9090:8080

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - 1025:1025
      - 8025:8025
