<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>


    <springProfile name="test">
        <logger name="app.omniOne" level="INFO"/>
        <property name="PATTERN" value="%d{HH:mm:ss} - %-40.40logger{39} %5p - %8X{correlationId} : %m%n"/>
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <logger name="app.omniOne" level="DEBUG"/>
        <property name="PATTERN" value="%d{HH:mm:ss} - %-40.40logger{39} %5p - %8X{correlationId} : %m%n"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="app.omniOne" level="DEBUG"/>
        <springProperty scope="context" name="LOG_FILE" source="logging.file.name"/>
        <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
        <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%t] %-40.40logger{39} [cid=%X{correlationId}] : %m%n"/>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${LOG_FILE}.log</file>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${LOG_FILE}-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>
